### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [6]:
unique_count = len(purchase_data["Item ID"].unique())
price = purchase_data["Price"].value_counts()
purchase = len(purchase_data["Purchase ID"])
average_price = round(price.mean(),2)
revenue = purchase_data["Price"].sum()

In [7]:
total_players = purchase_data["SN"].nunique()
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Place all of the data found into a summary DataFrame
summary_table = pd.DataFrame({"Total Unique Items": unique_count,
                              "Average Price": [average_price],
                              "Total Purchases": [purchase],
                              "Total Revenue": [revenue]})
summary_table

   Total Unique Items  Average Price  Total Purchases  Total Revenue
0                 183           5.38              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [38]:
gd = purchase_data.groupby("Gender")["SN"].nunique().to_frame("Total Players")
gd ["Percentage"] = round((gd["Total Players"]/gd["Total Players"].sum()) * 100,2)
gd

                       Total Players  Percentage
Gender
Female                            81       14.06
Male                             484       84.03
Other / Non-Disclosed             11        1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
gd = purchase_data.groupby(["Gender"])
gender_pcount = gd["Price"].count()
gender_ptotal = gd["Price"].sum()
gender_mean = round(gd["Price"].mean(),2)
APTPP = [round({gender_ptotal}/gd["Total Players"],2)]

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [46]:
analysis = pd.DataFrame(
    {
    
    "Purchase Count": gender_pcount,
    "Avg Purchase Price": gender_mean,
    "Total Purchase Value": gender_ptotal,
    "Avg. Purchase Total Per Person":APTPP
    }
)

analysis

NameError: name 'APTPP' is not defined

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [28]:
bins = [4,9,14,19,24,29,34,39,44]
age_groups = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
ad = pd.DataFrame(purchase_data.groupby("SN")["Age"].mean())
ad["Total Players"] = pd.cut(ad["Age"],bins,labels=age_groups)
ad = pd.DataFrame(ad["Total Players"].value_counts())
ad["Percentages of Players"] = round(ad["Total Players"] / ad["Total Players"].sum() *100,2)
ad.sort_index()

       Total Players  Percentages of Players
<10               17                    2.96
10-14             22                    3.83
15-19            107                   18.61
20-24            258                   44.87
25-29             77                   13.39
30-34             52                    9.04
35-39             31                    5.39
40+               11                    1.91

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
age_groups = purchase_data.groupby("Total Players")
age_pcount = purchase_data["Total Players"].value_counts()
age_ptotal = age_groups["Price"].sum()
age_mean = round(age_groups["Price"].mean(),2)

In [35]:
aa = pd.DataFrame({
    
    "Purchase Count": age_pcount,
    "Avg Purchase Price": age_mean,
    "Total Purchase Value": age_ptotal,
})
aa[" Avg. Purchase Total Per Person"] = round(aa["Total Purchase Value"]/ad["Total Players"],2)


aa.sort_index()

aa

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg. Purchase Total Per Person
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,12,3.04,36.54,3.32
<10,23,3.35,77.13,4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80